.container {
  width: 100%;
  position: relative;
}

.PopoverTrigger {
  display: inline-block;
  width: 100%;

  & .disabled {
    pointer-events: none;
  }
}

.PopoverContent {
  z-index: 100;
}

.label {
  color: var(--color-light-900) !important;
}

.calBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 2px;
  width: calc(100% - 20px);
  border: 1px solid var(--color-dark-300);
  padding: 6px 10px;
  cursor: pointer;
  background-color: inherit;

  & .date {
    color: var(--color-light-100);
    line-height: var(--line-height-m);
  }

  &:hover {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:active {
    border-color: var(--color-dark-300);
  }

  &:focus-within {
    border-color: var(--color-accent-700);
  }
}

.error {
  color: var(--color-danger-500);
  line-height: var(--line-height-s);
  font-size: 12px;
}

.calBtnError {
  border-color: var(--color-danger-500);
  color: var(--color-danger-500);

  & .date {
    color: var(--color-danger-500);
  }

  & .calIcon path {
    fill: var(--color-danger-500);
  }
}

.disabled {
  pointer-events: none;
  background-color: var(--color-dark-500);
  border-color: var(--color-dark-300);

  & .date {
    color: var(--color-light-900);
  }

  & .calIcon path {
    fill: var(--color-light-900);
  }
}

.disabledTitle {
  color: var(--color-dark-100);
}
